body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
#skills{
    text-align: center;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    margin-bottom: 40px;
    color:rgb(204, 0, 255);
    margin-top: 30px;
}
.skillscards{
     box-shadow:  0.5px 0.5px 1px 1px rgb(189, 188, 188); 
         border: none;
        border-radius: 10px; 
        height: auto;
        width: 270px;
        margin-top: 30px;
        padding: 17px;
        margin-bottom: 40px;
}
.skilldetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px; 
}

#iconimage{
    height: 80px;
    margin-left: 75px; 
    cursor: pointer; 
}
#icontitle{
    text-align: center;
    padding-top: 10px;
}

/* Edication and internahip */

#internshipHeading{
    text-align: center;
    text-underline-offset:10px;
    text-decoration-thickness: 2px;
    margin-bottom:30px;
    color:rgb(204, 0, 255);
}
.internDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
}
    .internCards{
        box-shadow:  0.5px 0.5px 1px 1px rgb(189, 188, 188);
        border: none;
        border-radius: 10px;
        height: auto;
        width: 400px;
        margin-top: 30px;
        padding: 17px;
        margin-bottom: 70px;
    }
.mernstackbtn{
background-color: black;
margin: 10px;
color: white;
box-shadow: 0.5px 0.5px 1px 1px rgb(189, 188, 188);
border: none;
border-radius: 10px;
padding:5px  8px;
font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
margin-top: 20px;
cursor: pointer;
} 
#mernstack{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}
#AzureFundamentals{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
}
.eduhead{
    text-align: center;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    margin-bottom: 40px;
    color:rgb(204, 0, 255);
}
.skillsedication{
    display: flex;
    flex-wrap: wrap;
justify-content: space-around;
margin: 15px;

}
.educations{
    box-shadow: 0.5px 0.5px 1px 1px rgb(189, 188, 188);
    border: none;
    border-radius: 10px;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: auto;
    padding: 15px;
}
.Subeduhead{
    text-underline-offset: 10px;
    text-decoration-thickness: 1.5px;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}
hr{
    background-color: black;
}
#grade{
    color: rgb(88, 87, 87);
    margin-top: 7px;
}
.courseyear{
    color: rgb(68, 92, 246);
    padding-bottom: 12px;
    font-size: 15px;
}
